.App {
  /* background-color: #282c34; */
  background-color: #e7e9ec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(2vmin);
  color: rgb(0, 0, 0);
  overflow: hidden;
}

.App-main{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
