.App-header {
  max-height: 10vh;
  display: flex;
  justify-content: space-around;
  margin: 0 2vw ;
  align-items: center;
  flex-wrap:wrap
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  
}


.nav-bar{
  width: 10vw;
  display: flex;  
  justify-content: space-around;
}
.nav-bar-item{
  color: #fff;
  text-decoration: none;
  font-size: x-large ;
  margin: 0 1vh;
}
.nav-bar-link{
  text-decoration: none;
}
.nav-bar-link:hover{
  text-decoration: underline white;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
