.configurator-wrapper{
  width: 96vw;
  margin-top: 5vh;
  display: flex;
  flex-direction: column ;
  justify-content: flex-start;
  align-items: center;
}

.options-container{
  width: 96vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.big-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sm-blocks-d{
  width: 10vw;
  height: 12vh;
  max-height: 15vh;
  margin: 1vw;
  background-color: white ;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.sm-blocks-d:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.sm-blocks-d:active{
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.colors{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.disks{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.sm-blocks-c{
  width: 2vw;
  height: 3vh;
  max-height: 8vh;
  margin: 2vh;
  background-color: white ;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.sm-blocks-c:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.color-red{
  background-color:red ;
}
.color-white{
  background-color:white ;
}
.color-black{
  background-color:black ;
}
.color-green{
  background-color:green ;
}
.color-orange{
  background-color:rgb(235, 129, 8) ;
}
