.configurator-wrapper{
  width: 90vw;
  position: relative;
}

.options-container{
  display: flex;
  flex-direction: column;
}

.save-car-button-container{
  position: relative;
}
.save-car-button{
  position: absolute;
  top: 15px;
  right: 5px;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: none;
  background: white;
  transition: color ease .3s, background ease .3s;
}

.save-car-button:hover{
  color: white;
  background: #333;
  border-radius: 5px;
  box-shadow: 0 0 5px #e7e9ec,
}

.tapac-style-btn{
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: none;
  background: white;
  transition: color ease .3s, background ease .3s;
}

.tapac-style-btn:hover{
  color: white;
  background: #333;
  border-radius: 5px;
  box-shadow: 0 0 5px #e7e9ec,
}

.close-button-container{
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  color: white;
}

.choose-car-button{
  position: absolute;
  top: 0;
  right: .5vw;
}

.choose-car-button button{
  margin: 15px 0 0;
  border-radius: 5px;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: none;
  background: white;
  transition: color ease .3s, background ease .3s;
}

.choose-car-button button:hover{
  color: white;
  background: #333;
  border-radius: 5px;
  box-shadow: 0 0 5px #e7e9ec,
}

.carousel-control.left{
  background-image: unset;
}
.carousel-control.right{
  background-image: unset;
  
}

#myCarousel{
  position: relative;
}

.item{
  width: 180px;
  height: 180px;
}

.sm-disk-img{
  width: 100%;
  height: 100%;
}


.colors{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sm-blocks-c{
  width: 2vw;
  height: 3vh;
  max-height: 8vh;
  background-color: white ;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.sm-blocks-c:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.color-red{
  background-color:red ;
}
.color-white{
  background-color:white ;
}
.color-black{
  background-color:black ;
}
.color-green{
  background-color:green ;
}
.color-orange{
  background-color:rgb(235, 129, 8) ;
}

input#menu {
  display: none;
}



.icon {
  background: #FFF;
  cursor: pointer;
  display: block;
  height: 60px;
  padding: 16px;
  width: 50px;
}

label.icon {
  position: fixed;
  z-index: 200;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
  background: #9FB1BD;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  transition: background ease .3s, top ease .3s .3s, transform ease .3s;
  width: 20px;
}

.icon:hover .menu,
.icon:hover .menu::before,
.icon:hover .menu::after {
  background: #000000;
}

.icon .menu {
  left: 18px;
  top: 27px;
}

.icon .menu::before {
  top: -6px;
}

.icon .menu::after {
  top: 6px;
}

#menu:checked + .icon .menu {
  background: transparent;
}

#menu:checked + .icon .menu::before {
  transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
  transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
  top: 0;
  transition: top ease .3s, transform ease .3s .3s;
}

.config-nav {
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  height: 50vh;
  padding-top: 8vh;
  position: fixed;
  transition: width ease .6s;
  min-width: 50px;
  width: 4vw;
  z-index: 100;
  overflow: hidden;
}

#menu:checked ~ .config-nav  {
  /* width: 20vw; */
  width: 180px;
  background: rgba(255, 255, 255, 0.6);
}

.config-nav  ul {
  opacity: 0;
  transition: opacity ease .6s;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu:checked ~ .config-nav  ul {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.config-nav li div{
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.config-nav li{
  margin-bottom: 3px;
}




/* ============================================================================================ */

.choose-container{
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.choose-container .card{
  position: relative;
  cursor: pointer;
  background:  #e7e9ec;
  border: none;
}

.choose-container .card .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.choose-container .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.choose-container .card:hover .face.face1{
  background:  #e7e9ec;
  transform: translateY(0);
}

.choose-container .card .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
}

.choose-container .card:hover .face.face1 .content{
  opacity: 1;
}

.choose-container .card .face.face1 .content img{
  max-width: 100px;
}

.img-container{
  display: flex;
  justify-content: center;
}

.choose-container .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.5em;
}

.choose-container .card:hover .face.face1 .content h3{
  color: #333;
}


.choose-container .card .face.face2{
  position: relative;
  background:  #e7e9ec;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.choose-container .card:hover .face.face2{
  transform: translateY(0);
}

.choose-container .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.choose-container .card .face.face2 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-container .card .face.face2 .content button{
  margin: 15px 0 0;
  border-radius: 5px;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: none;
  background: #e7e9ec;
  transition: color ease .5s, background ease .5s;
}

.choose-container .card .face.face2 .content button:hover{
  color: #e7e9ec;
  background: #333;
  border-radius: 5px;
  box-shadow: 0 0 5px #e7e9ec,
}

.choose-container .card .face.face2 .content h3{
  color: rgb(0, 0, 0);
}

/* ============================================================================================ */

